---
---

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');

@import "{{ site.theme }}";


body {
  margin: 0;
  padding: 0;
  background: $body-background url("../images/bkg.png") 0 0;
  color: $body-foreground;
  font-size: 18px;
  font-family: "JetBrains Mono", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  line-height: 1.8;
}

li {
  line-height: 1.8;
}

pre code {
  font-family: "JetBrains Mono", monospace;
}
